html{
    font-size: 16px;
    margin:0 auto;
    font-family: montserrat, sans-serif;
}

/*NAVEGADOR*/

nav{
    font-family: montserrat, sans-serif;
    height:64px;
    display: flex;
    padding: 0 24px;
    justify-content: space-between;
}
strong{
    color:rgb(82, 79, 79);
}
.logo{
    font-family: montserrat, sans-serif;
    color: gray;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    float: left;
}
.logo img {
    width:50px;
}
.menu {
    display: flex;
}
.menu a{
    color: rgb(90, 88, 88);
    font-size: 1rem;
    text-decoration: none;
}
.menu span{
    padding: 20px 8px;
}
/* Banner*/
.banner{
    background-color: rgba(170, 168, 168, 0.4);
    width: 100%;
    padding: 32px 24px;
    display: flex;
    flex-wrap: wrap;
}
.banner img{
    width:60%;
}
.learn{
    text-align: center;
    font-family: montserrat;
    color: rgb(95, 93, 93);
    padding: 0 24px;
    flex-wrap: wrap;
}
.learn h2{
    color:rgb(82, 79, 79);
    font-size: 3rem;
    font-weight: bold;
    padding-top:90px;
    font-family: montserrat, sans serif;
}
.learn h4{
    color:rgb(82, 79, 79);
    padding-top:8px;
    font-size:1.5rem;
    line-height: 1.5;
    font-weight: 600;
    font-family: montserrat, sans-serif;
    letter-spacing: 1px;
}
.learn h5{
    border:solid 1px rgb(82, 79, 79);
    width:60%;
    text-align: center;
    margin: 10px auto;
    background-color: rgb(82, 79, 79);
    color: white;
    padding: 8px;
    font-weight: normal;
    font-size: 1.1rem;
}
.learn a{
    text-decoration: none;
    color: white;
}
/*CATALOGUE*/
#catalogue{
    display: flex;
    width: 100%;
    padding-top: 32px;
}
.container1{
    display: block;
    border-right: solid 0.5px rgba(177, 175, 175,0.3);
    width:70%;
    color: rgb(78, 76, 76);
    padding-left: 24px;
}
.container1 img{
    width:95%;
    margin: 0 auto;
    padding-right: 24px;
}
.container1 h1{
    padding-top: 32px;
}
.container1 p{
    display: inline;
    padding-top: 24px;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
    font-size:1.1rem;
    width: 90%;
    letter-spacing: 1px;
    float:left;
}
.container1 h5{
    display: inline-block;
    text-align: left;
    padding-top: 32px;
    font-size: 1rem;
    font-weight: 500;

}
.container2{
    width: 40%;
    color: rgb(82, 79, 79);
}
.item{
    display: flex;
    flex-direction: row;
    padding: 32px 16px;
    width: 100%;
}
.text-item{
    padding-left: 16px;
    margin: auto 0;
    width: 65%;
}
.text-item h3{
    font-family: montserrat, sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
}
.text-item p{
    font-size:1rem;
    letter-spacing: 1px;
}
.text-item a{
    padding-top: 8px;
    text-decoration: none;
    color:rgb(85, 146, 226);
    letter-spacing: 1px;
}
.item img{
    width:35%;
    height:auto;
}
.gray {
    background-color: rgba(165, 163, 163,0.3);
}